{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-constructor-return": "error",
    "no-duplicate-imports": "error",
    "no-self-compare": "error",
    "no-unused-private-class-members": "error",
    "no-use-before-define": "error",
    "arrow-body-style": "error",
    "camelcase": "error",
    "capitalized-comments": "error",
    "class-methods-use-this": "error",
    "consistent-return": "error",
    "consistent-this": "error",
    "default-case": "error",
    "default-case-last": "error",
    "default-param-last": "error",
    "eqeqeq": "error",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "no-invalid-this": "error",
    "yoda": "error"
  }
}